<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Update AUM YOY Growth Entry Form</strong>
      </c-card-header>
      <c-card-body>
        <form #customStylesForm="ngForm"
          [formGroup]="aumYoyUpdateForm"
          (ngSubmit)="onSubmit()"
          [validated]="customStylesValidated"
          cForm
          class="row g-3 needs-validation"
        >
          <c-col [cFormFloating]="true" md="6">
            <select cSelect id="validationCustom01" formControlName="aumYoyGrowthAmcName" required>
              <option value="" disabled selected>Select an AMC</option>
              <option [value]="item.id" *ngFor="let item of amcs">{{ item.amcName }}</option>
            </select>
            <label cLabel for="validationCustom01" class="ms-2">AMC Name</label>
            <c-form-feedback [valid]="false" *ngIf="f['aumYoyGrowthAmcName'].errors && (f['aumYoyGrowthAmcName'].touched || submitted)">Please select an AMC.</c-form-feedback>
          </c-col>

          <c-col [cFormFloating]="true" md="6">
            <input cFormControl id="validationCustom02" formControlName="aumYoyGrowthAmount" required type="number" step="0.01" placeholder="AUM" />
            <label cLabel for="validationCustom02" class="ms-2">AUM</label>
            <c-form-feedback [valid]="false" *ngIf="f['aumYoyGrowthAmount'].errors && (f['aumYoyGrowthAmount'].touched || submitted)">Please provide an AUM.</c-form-feedback>
          </c-col>

          <c-col [cFormFloating]="true" md="6">
            <input cFormControl id="validationCustom03" required type="date" formControlName="aumYoyGrowthDate" placeholder="Date" />
            <label cLabel for="validationCustom03" class="ms-2">Date</label>
            <c-form-feedback [valid]="false" *ngIf="f['aumYoyGrowthDate'].errors && (f['aumYoyGrowthDate'].touched || submitted)">Please select a date.</c-form-feedback>
          </c-col>

          <c-col xs="12">
            <button cButton class="me-1" color="primary" type="submit">
              Update
            </button>
            <button (click)="onCancel()" cButton color="secondary">
              Cancel
            </button>
          </c-col>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

